<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2 *ngIf="userSettingsView">{{userSettingsView.firstName}}</h2>
            <h4 *ngIf="userSettingsView">{{userSettingsView.userName}}</h4>
        </div>
        <img src="assets/unnamed.png">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/gamma">Listings</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/research">Research</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/scanhistory">Scan History</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/usersettings">
        <mat-icon>settings</mat-icon>
        User Settings
    </a>
    <a *ngIf="isAdmin" mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>security</mat-icon>
        Admin
    </a>
    <a *ngIf="isAdmin" mat-list-item routerLinkActive="list-item-active" routerLink="/apikeys">
        <mat-icon>vpn_key</mat-icon>
        API Keys
    </a>

</mat-nav-list>