<div class='container'>
    <h2>Change Password</h2>
    <br />
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline">
        <div>
            <div>
                <div>
                    <mat-form-field appearance="outline" class="outlinepadding">
                        <mat-label>Old password</mat-label>
                        <input matInput class="matinput" formControlName="oldpassword" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="outlinepadding">
                        <mat-label>New password</mat-label>
                        <input matInput class="matinput" formControlName="newpassword" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="outlinepadding">
                        <mat-label>Confirm password</mat-label>
                        <input matInput class="matinput" formControlName="confirmpassword" />
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button mat-raised-button color="primary" type="submit"
                        [disabled]="!form.valid">Submit</button>
                    <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </div>
    </form>
    <br />
    <p class="error">{{errorMessage}}</p>
</div>