<div class="container">
    <mat-form-field>
        <mat-label>Stores</mat-label>
        <mat-select [(ngModel)]="selectedStore" (selectionChange)="storeSelected($event)">
            <mat-option *ngFor="let m of userStores" [value]="m.storeID">
                {{ m.storeName }}
            </mat-option>
        </mat-select>
    </mat-form-field><br /><br />
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-2">
                <label class="lbl">pct profit:</label>
            </div>
            <div class="col-10">
                <mat-form-field appearance="outline" class="outlinepadding">
                    <input matInput formControlName="pctProfit" maxlength="40" placeholder="pct profit">
                </mat-form-field>
            </div>
        </div>
        <button class="btn" mat-button mat-raised-button color="primary" type="submit">Save</button>
    </form>
</div>