<div class="container">
    <p class="error">{{errorMessage}}</p>
    <div class="row">
        <div class="col-3">
            <mat-form-field>
                <mat-label>Stores</mat-label>
                <mat-select [(ngModel)]="selectedStore" (selectionChange)="storeSelected($event)">
                    <mat-option *ngFor="let m of userStores" [value]="m.storeID">
                        {{ m.storeName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="eBayBusinessPolicies" class="col-3">
            <mat-form-field>
                <mat-label>Shipping policies</mat-label>
                <mat-select>
                    <mat-option *ngFor="let m of eBayBusinessPolicies.shippingPolicies">
                        {{ m }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="eBayBusinessPolicies" class="col-3">
            <mat-form-field>
                <mat-label>Return policies</mat-label>
                <mat-select>
                    <mat-option *ngFor="let m of eBayBusinessPolicies.shippingPolicies">
                        {{ m }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-10">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <mat-checkbox>Store Subscription
                    </mat-checkbox> 
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="lbl">Percent profit:</label>
                    </div>
                    <div class="col-10">
                        <mat-form-field appearance="outline" class="outlinepadding">
                            <input matInput formControlName="pctProfit" maxlength="40" placeholder="pct profit">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="lbl">Handling Time:</label>
                    </div>
                    <div class="col-10">
                        <mat-form-field appearance="outline" class="outlinepadding">
                            <input matInput formControlName="handlingTime" maxlength="40" placeholder="handling time">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="lbl">Shipping Time:</label>
                    </div>
                    <div class="col-10">
                        <mat-form-field appearance="outline" class="outlinepadding">
                            <input matInput formControlName="shippingTime" maxlength="40" placeholder="shipping time">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="lbl">Listing limit:</label>
                    </div>
                    <div class="col-10">
                        <mat-form-field appearance="outline" class="outlinepadding">
                            <input matInput formControlName="listingLimit" maxlength="40" placeholder="listing limit">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="lbl">PayPal email:</label>
                    </div>
                    <div class="col-10">
                        <mat-form-field appearance="outline" class="outlinepadding">
                            <input matInput formControlName="payPalEmail" maxlength="40" placeholder="payPal Email">
                        </mat-form-field>
                    </div>
                </div>
                <button [disabled]="!selectedStore" class="btn" mat-button mat-raised-button color="primary"
                    type="button" (click)="userSettingsSave()">Save</button>
            </form>
        </div>
    </div>
</div>
<app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true"
    [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>