<div class='container'>
    <div>
        <h2>Forgot Password</h2>
    </div>
    <br>
    <div>
        Please enter the email address associated with your account:
    </div>
    <br>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)" class="form-inline">
        <div>
            <div class="form-group">
                <mat-form-field appearance="outline" class="inputWidth outlinepadding">
                    <mat-label>Email address</mat-label>
                    <input matInput formControlName="emailAddress" maxlength="40" placeholder="email address"
                        id="emailAddress">
                </mat-form-field>
            </div>
            <br />
            <br>
            <div>
                <button mat-button mat-raised-button color="primary" type="submit"
                    [disabled]="!forgotPasswordForm.valid">Submit</button>
                <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
        </div>
        <br />
        <div>
            {{errorMessage}}
        </div>
    </form>
</div>