.seller {
    width: 250px;
  }
.filter {
    width: 100px;
  }
.paddingleft {  /* inputs on same line need some space between them */
    padding-left: 20px;
}
.fill-space { /* push items on same line apart */
  flex: 1 1 auto;
}
.toolbarlinkcolor {
  color:white;
  font-size: 12px;
}
.icon-20 {
  font-size: 20px;
}

/* Zebra striping */
/* tr:nth-of-type(odd) {
  background:rgb(237, 220, 240);
 }
  
 th {
  background:white;
  font-weight: bold;
 } */

 .helpText {
  color:black;
}
.logon {
  font-size: 12px;
}
.outlinepadding ::ng-deep .mat-form-field-infix {
  padding: 3px 0 3px 0; /* top,right,bottom,right */
}

/* moves input up/down, affects padding - helps to manage height of control */
.outlinepaddingselect ::ng-deep .mat-form-field-infix {
  padding: 12px 0 7px 0; /* top,right,bottom,right */
  // font-size: 13px;
  // bottom: 10px;        /* moves text in textbox up and down, but arrow not aligned */
}
a.disabled {
  pointer-events: none;
  cursor: not-allowed; 
}
.mat-button.mat-small {
  min-width: 1%;
}
.my-fab {
  width: 20px;
  height: 20px;
  line-height: 14px;
  font-size: 14px;

  &::ng-deep .mat-button-wrapper{
      line-height: 14px;
      padding: 0;

       .mat-icon {
           font-size: 14px;
           padding-right: 4px;
           padding-top: 4px;
       }
 }
}
a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.redText {
  color: red;
}
.largeFont {
  font-size: 40px;
}
