.Url {
    width: 500px;
    /* padding-left: 20px; */
  }
.width100 {
    width: 100px;
    /* padding-left: 20px; */
  }
.btn {
    margin: 0 4px;
}
.title {
    width: 650px;
    /* padding-left: 20px; */
}
.outlinepadding ::ng-deep .mat-form-field-infix {
    padding: 3px 0 3px 0; /* top,right,bottom,right */
}

/* moves input up/down, affects padding - helps to manage height of control */
.outlinepaddingselect ::ng-deep .mat-form-field-infix {
    padding: 12px 0 7px 0; /* top,right,bottom,right */
    // font-size: 13px;
    // bottom: 10px;        /* moves text in textbox up and down, but arrow not aligned */
}
a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}
    
.descriptionWidth {
    width: 85%;
}
mat-card{
    width: 500px;
}
.rounded {
    border: 1px solid purple;
    padding: 10px;
    border-radius: 5px;
  }
// get a label to align with a mat-form-field on same row
span.relative {
    position: relative;
    top: -8px;
}

// align label with mat input
span.labelmatinput {
    position: relative;
    top: 12px;
}
button.loadwalmart {
    position: relative;
    top: -9px;
}
.variationColor {
    color: blue;
    font-weight: bold;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Strictly for drag & drop images
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// End 'Strictly for drag & drop images'
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
