// Pretty sure these example classes came from the newer example of how to implement a data table.
// see my notes for that link.
// .example-container {
//     display: flex;
//     flex-direction: column;
//     min-width: 300px;
// }
// .example-header {
//     min-height: 64px;
//     padding: 8px 8px 0;
// }
.filter {
    width: 300px !important;
   }
.table-container {
  max-height: calc(100vh - 155px); // or height: calc(100vh - 155px); depending on your need  change
  width: 100%;
  overflow: auto; // add scrollbar to the element, not the page itself
    // max-height: calc(100vh - 240px);
  }