<div *ngIf="listing" class="container">
    <div>
        <b>{{listing.ListingTitle}}</b>
    </div>
    <br />

    <div *ngIf="listingNotes">
        <div *ngFor="let note of listingNotes">
            <div class="row">
                <div class="col-12">
                    {{note.updated | date: 'MM/dd/yyyy hh:mm a'}} {{note.userName}}<br/>
                    {{note.note}}<br/>
                </div>
            </div>
        </div>
    </div>
    <br />
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <textarea rows="5" matInput formControlName="note" maxlength="5000" placeholder="Note"
                style="width: 500px;"></textarea>
        </div>
        <br />
        <button class="btn" mat-button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-button type="button" (click)="onCancel()" tabindex="-1">Cancel</button>
    </form>
    <div>
        {{ errorMessage }}
    </div>
</div>