<span class="error">{{errorMessage}}</span>
<ng-container *ngIf="isConfigured">
    <mat-card>
        <!-- <div class="container-fluid"> -->
        <div class="row">
            <div class="col-3">
                Listed in store:
            </div>
            <div class="col-3">
                {{dashboard.listed}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Out-of-stock:
            </div>
            <div class="col-3">
                {{dashboard.oos}}
                <span *ngIf="loading">
                    <img
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Not listed:
            </div>
            <div class="col-3">
                {{dashboard.notListed}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                db is missing items:
            </div>
            <!-- <div *ngIf="dashboard.dbIsMissingItems" class="col-3">
            {{dashboard.dbIsMissingItems.Length}}
        </div> -->
        </div>
        <div class="row">
            <div class="col-3">
                Errors:
            </div>
            <div class="col-3 error">
                {{logStatus}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Last error:
            </div>
            <div class="col-5 error">
                {{lastErr}}
            </div>
        </div>
        <br />
    </mat-card>
</ng-container>
<br />
<mat-card>
    <ul>
        <li>Check return cases</li>
        <li>Check Walmart emails</li>
        <li>Check Buyer messages</li>
        <li>Check eBay messages</li>
        <li>Any new orders?</li>
    </ul>
</mat-card>
<br />
<mat-card>
    <ul>
        <li>Get supplier alerts</li>
        <li>Get Tax exempt</li>
        <li>Create a stealth account</li>
        <li>Season a new account</li>
        <li>Scan seler</li>
        <li>Provide eBay dev account</li>
        <li>Auto order</li>
        <li>Course</li>
        <li>Create LLC</li>

    </ul>
</mat-card>