html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
    color: #f00;
    font-weight: bold;
}
.redText {
    color: red;
    font-weight: bold;
}
.rightJustify {
    text-align: right;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// needed for mat input boxes
.matinput {
    width: 100%;
    height: 30px;
    padding: 8px;
    outline: none;
    border-left: 5px solid lightgray;
    margin: 4px 0;
}
input {
    width: 100%;
    height: 30px;
    padding: 8px;
    outline: none;
    border-left: 5px solid lightgray;
    margin: 4px 0;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
